.first{
    margin-top:5%;
    margin-right:4%;
    margin-left:4%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* background-color: #333; */
}
li {
  float: right;
}
li a {
  display: inline;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  /* text-decoration:solid; */
}
.second{
    background-color: rgba(238,238,238,255);
    margin-left: 3%;
    margin-right: 3%;
    padding-left:3% ;
    padding-top: 1%;
    padding-bottom: 3%;
    height:fit-content;
   
}
/* .second h2{
    padding-top: 2.5%;
    padding-left: 3%;
} */
.second p{
    /* padding-left: 3%; */
    width: 16%;
    /* text-align: left; */
}
/* button{
    margin-left: 3%; 
} */
.box{
    margin:2% 5% 0% 5%;
   display:flex;
   justify-content: space-between;

   /* padding-right:10% */
  
}
 .a{
    height:10em;
    width:13em ;
    background-color:rgba(238,238,238,255);
    margin-right:5%;
    padding-right:10%;

}
 .b{
    height:10em;
    width:13em ;
    background-color: rgba(238,238,238,255);
    /* margin:10%; */
    padding-left:10%;
}
.c{
    height:10em;
    width:13em ;
    background-color: rgba(238,238,238,255);
    margin-left:5%;
    padding-right:10%;
}
.headings{
    justify-content: space-between;
    display:flex ;
}
#one {
    margin-left:12%;
    float:left; 
}
#two{
    padding-left:1.5%;
    float:left;
}
#three{
    margin-right:13%;
    float: left;
}
.bottom{
    justify-content: space-between;
    display:flex ;
    margin-left:7%;
    margin-right: 7.5%;
}
.learn{
    justify-content: space-between;
    display: flex;
    margin-left:12%;
    margin-right: 12.5%;
}
.sub{
    justify-content:center;
    display: flex;
    background-color: rgba(238,238,238,255);
    margin:3% 3% 0% 3%;
    height: 50px;
    
    }
  .sub input{
    height: 22px;
    width:28%;
    margin-top:1%;
    margin-left:1%
  }
  .sub h2{
    margin-top:1%;
  }
  .sub button{
    text-align: left;
    color:white;
    font-size: 16px;
    margin-left:1%;
    height:28px ;
    width:15%;
    margin-top:1%;
    background-color:rgba(40,138,207,255);
  }
  footer{
    display:flex;
    justify-content: space-between;
  }